.page {
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.card {
  background: white;
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  min-width: 350px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #e11d48;
  margin-bottom: 30px;
}

.buttons {
  margin-top: 20px;
}

.yes {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: white;
  padding: 14px 32px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(255, 75, 43, 0.5);
  transition: transform 0.2s ease;
}

.yes:hover {
  transform: scale(1.1);
}

.no {
  background: #f3f4f6;
  padding: 12px 26px;
  border-radius: 30px;
  border: 1px solid #d1d5db;
  cursor: pointer;
}

.yay {
  font-size: 36px;
  color: #ec4899;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.gif {
  width: 260px;
  border-radius: 16px;
  margin: 20px 0;
}

.love-text {
  font-size: 22px;
  color: #dc2626;
}

.love-message{
    font-size: 22px;
    color: darkviolet;
    font-style:italic;
}